body {
    /* background: url("https://www.toptal.com/designers/subtlepatterns/uploads/what-the-hex.png") repeat 0 0; */
    background: url("../images/checkerboard-cross.webp") repeat 0 0;
    animation: animate-bg 18.3s linear infinite;
}

@keyframes animate-bg {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 400px 400px;
    }
}