body {
    background: url("https://www.toptal.com/designers/subtlepatterns/uploads/what-the-hex.png") repeat 0 0;
    animation: animate-bg 2.30s infinite linear;
}

@keyframes  animate-bg {
    100% {
        background-position: 50px 50px;
    }
}