/*
Source - https://stackoverflow.com/a/10123794
Posted by vsync, modified by community. See post 'Timeline' for change history
Retrieved 2026-03-11, License - CC BY-SA 4.0
*/

img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    transition: border-radius 0.3s ease;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
}

img.spin {
    animation: rotate 2s linear infinite;
}
#pfp {
    display: block;
    margin: 20px auto;
    cursor: pointer;
}

#pfp_desc {
    font-family: cursive, sans-serif;
    font-size: 1.2em;
    color: #333;
    margin-top: 10px;
    text-align: center;
}

@keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}